<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cow_left0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{85,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,57}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>cow_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,57}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cow.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb04007119eaaf80212acab76c3aba97:1/1$</string>
            <key>textureFileName</key>
            <string>cow.png</string>
        </dict>
    </dict>
</plist>
